<!-- $title Děkujeme za Vaši objednávku -->

<!-- @include _header -->

    <section id="kosik-finish">

      <div class="hero auto-height">
        <div class="content">
          <div class="inner">
            <img src="<!-- @path icon-cart-finish.png -->" />
            <h1>Děkujeme za Vaši objednávku</h1>
            <p>Vítr skoro nefouká a tak by se na první pohled mohlo zdát, že se balónky snad vůbec nepohybují. Jenom tak klidně levitují ve vzduchu. Jelikož slunce jasně září a na obloze byste od východu k západu hledali mráček marně!</p>
            <a href="<!-- @path index.html -->" class="btn btn-clear cta">Zpět do obchodu</a>
          </div>
        </div>
      </div>

    </section>

<!-- @include _footer -->