<!-- $title Nákupní košík -->

<!-- @include _header_for_cart -->

    <section id="kosik" class="step1">

      <h1>Nákupní košík</h1>
      <div class="info box"><em class="delivery-icon"></em>Doručení už zítra, při objednávce nyní</div>

      <table>
        <thead>
          <tr>
            <th colspan="2">Produkt</th>
            <th>Počet kusů</th>
            <th>Cena</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="img">
              <img src="<!-- @path temp-bagl.jpg -->" draggable="false" />
            </td>
            <td class="desc">
              <a href="<!-- @path product.html -->">Batoh EFI 408</a>
              <small>
                barva: šedá <br/>
                kód: 66273
              </small>
            </td>
            <td class="count">
              <span class="select">
                <span class="value">1 ks</span>
                <select>
                  <option value="1 ks" selected="selected">1 ks</option>
                  <option value="2 ks">2 ks</option>
                  <option value="3 ks">3 ks</option>
                </select>
              </span>
            </td>
            <td class="price">
              1390 Kč
            </td>
            <td class="action">
              <a href="#" class="delete">Smazat</a>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="total">
        <div class="discount">
          <input type="text" placeholder="Slevový kupon?" />
          <button>Použít</button>
        </div>
        <div class="price">
          <em>Celková cena</em>
          <strong>1390 Kč</strong>
        </div>
      </div>

      <nav>
        <a href="<!-- @path cart_step2.html -->" class="btn btn-blue">Pokračovat</a>
        <a href="<!-- @path index.html -->" class="btn">Zpět</a>
      </nav>

    </section>

<!-- @include _footer -->