<!-- $title Doprava a platba -->

<!-- @include _header_for_cart -->

    <section id="kosik" class="step2">

      <h1>Doprava a platba</h1>

      <section class="country">
        <h3>Vyberte zemi doručení</h3>
        <span class="select">
          <span class="value">Česká Republika</span>
          <select>
            <option value="cz" selected="selected">Česká Republika</option>
            <option value="sk">Slovenská Republika</option>
          </select>
        </span>
      </section>

      <section class="shipping">
        <h3>Vyberte způsob dopravy</h3>
        <div class="block">

          <article id="shipping-ppl" class="selected">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setTransport(45)" class="selected">
              <strong>PPL zásilková služba</strong>
              <em>Zdarma</em>
              <small>
                ODESLÁNÍ dnes (neplatí pro platbu převodem),<br/>
                DORUČENÍ: jeden pracovní den po dni expedice
              </small>
            </a>
            <ul>
              <li>
                <a href="javascript:void(0)" onclick="EshopOrderProcess.setTransport(45)">
                  Večerní doručení (pouze do vybraných měst v ČR)
                </a>
              </li>
              <li>
                <a href="javascript:void(0)" onclick="EshopOrderProcess.setTransport(45)" class="selected">
                  Doručení na PPL partnerské místo
                </a>
                <span class="select">
                  <span class="value">Olomouc</span>
                  <select>
                    <option value="olomouc" selected="selected">Olomouc</option>
                    <option value="prerov">Přerov</option>
                    <option value="prostejov">Prostějov</option>
                  </select>
                </span>
              </li>
            </ul>
          </article>

          <article id="shipping-cp">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setTransport(45)">
              <strong>Česká pošta</strong>
              <em>Zdarma</em>
              <small>
                ODESLÁNÍ dnes (neplatí pro platbu převodem),<br/>
                DORUČENÍ: jeden pracovní den po dni expedice
              </small>
            </a>
          </article>

          <article id="shipping-osobne">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setTransport(45)">
              <strong>Osobní odběr ve Šternberku</strong>
              <em>Zdarma</em>
              <small>
                balík si můžete vyzvednout na firemní prodejně Topgal ve Šternberku
              </small>
            </a>
          </article>

        </div>
        <input type="hidden" name="shipping-method" />
      </section>

      <section class="payment">
        <h3>Vyberte způsob dopravy</h3>
        <div class="block">

          <article id="payment-namiste">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)">
              <strong>Platba na místě</strong>
              <em>Zdarma</em>
              <small>
                platba při převzetí zboží na prodejně - možné platit v hotovosti nebo platební kartou
              </small>
            </a>
          </article>

          <article id="payment-dobirkappl">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)">
              <strong>Dobírka PPL</strong>
              <em>Zdarma</em>
            </a>
          </article>

          <article id="payment-ridicppl">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)">
              <strong>Platba kartou řidiči PPL</strong>
              <em>30 Kč</em>
            </a>
          </article>

          <article id="payment-online" class="selected">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)" class="selected">
              <strong>Online platba kartou</strong>
              <em>30 Kč</em>
            </a>
            <ul>
              <li>
                <a class="card-maestro selected" href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)">
                  Maestro
                </a>
              </li>
              <li>
                <a class="card-visa" href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)">
                  Visa
                </a>
              </li>
              <li>
                <a class="card-mastercard" href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)">
                  MasterCard
                </a>
              </li>
            </ul>
          </article>

          <article id="payment-bankprevod">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)">
              <strong>Bankovní převod</strong>
              <em>Zdarma</em>
            </a>
          </article>

          <article id="payment-dobirkacp">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)">
              <strong>Dobírka Česká Pošta</strong>
              <em>30 Kč</em>
            </a>
          </article>

          <article id="payment-payu">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)">
              <strong>PayU</strong>
              <em>30 Kč</em>
            </a>
          </article>

          <article id="payment-paypal">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)">
              <strong>Paypal</strong>
              <em>30 Kč</em>
            </a>
          </article>

          <article id="payment-twisto">
            <a href="javascript:void(0)" onclick="EshopOrderProcess.setPayment(45)">
              <strong>Twisto</strong>
              <em>30 Kč</em>
            </a>
          </article>
        </div>
        <input type="hidden" name="payment-method" />
      </section>

      <section class="total">
        <div class="handling">
          <em>Cena za dopravu a platbu</em>
          <strong>0 Kč</strong>
        </div>
        <div class="price">
          <em>Celková cena</em>
          <strong>1390 Kč</strong>
        </div>
      </section>

      <nav>
        <a href="<!-- @path cart_step3.html -->" class="btn btn-blue">Pokračovat</a>
        <a href="<!-- @path cart_step1.html -->" class="btn">Zpět</a>
      </nav>

    </section>

<!-- @include _footer -->