<!-- $title Doručovací údaje -->

<!-- @include _header_for_cart -->

    <section id="kosik" class="step3">

      <h1>Doručovací údaje</h1>
      <div class="error box">Woohoo! Chyba jak brno!</div>

      <form>
        <h2>Vaše údaje</h2>

        <span class="text">
          <label for="name">Jméno</label>
          <input id="name" type="text"/>
        </span>

        <span class="text">
          <label for="surname">Příjmení</label>
          <input id="surname" type="text"/>
        </span>

        <span class="text">
          <label for="email">Email</label>
          <input id="email" type="text" />
        </span>

        <span class="text error">
          <label for="phone">Telefon</label>
          <input id="phone" type="text" />
          <em>Vsecko spatne!</em>
        </span>

        <span class="text">
          <label for="street">Ulice</label>
          <input id="street" type="text" />
        </span>

        <span class="text">
          <label for="city">Město</label>
          <input id="city" type="text" />
        </span>

        <span class="text">
          <label for="zip">PSČ</label>
          <input id="zip" type="text" />
        </span>

        <button><em>+</em> Přidat firemní údaje</button>
      </form>

      <aside>
        <h4>Obsah košíku</h4>
        <table>
          <tr>
            <td class="img"><img src="<!-- @path temp-bagl.jpg -->" draggable="false" /></td>
            <td class="desc">Batoh EFI 409</td>
            <td class="price">1299 Kč</td>
          </tr>
          <tr>
            <td class="img"><span class="checkmark"></span></td>
            <td class="desc">PPL Zásilková služba</td>
            <td class="price">0 Kč</td>
          </tr>
          <tr>
            <td class="img"><span class="checkmark"></span></td>
            <td class="desc">Platba kartou</td>
            <td class="price">0 Kč</td>
          </tr>
        </table>
        <div class="total">
          <div class="price">
            <em>Celková cena za&nbsp;objednávku</em>
            <strong>1299 Kč</strong>
          </div>
        </div>
      </aside>

      <nav>
        <a href="<!-- @path cart_finish -->" class="btn btn-green">Dokončit objednávku</a>
      </nav>

    </section>

<!-- @include _footer -->