<!-- $title Topgal &mdash; Euforia -->

<!-- @include _header -->

    <section id="index">

      <div class="hero auto-height" data-vide-bg="http://cdn.euforiabags.com/media/Euforia">
        <div class="content">
          <div class="inner">
            <h1>Žij naplno, nebo uhnij!</h1>
            <p>Consequat neque fermentum luctus.</p>
            <a href="<!-- @path product.html -->" class="btn btn-blue cta">Zjistit více</a>
            <!-- @include _scroll_cta -->
          </div>
        </div>
      </div>

      <div class="make">
        <figure>
          <img src="<!-- @path bagl.jpg -->" draggable="false" />
        </figure>
        <div class="content">
          <h2>Dokonalé provedení v&nbsp;každém detailu</h2>
          <p>Při navrhování batohu EFI 407 jsme skloubili funkčnost s komfortem a elegancí. Proč nemít pohodlný sportovní a elegantní batoh zároveň?  Nemusíte si lámat hlavu s tím, jestli jít po škole do města, na rande nebo do přírody. Náš batoh se vám přizpůsobí.</p>
          <a href="<!-- @path product.html -->" class="btn btn-blue cta">Koupit batoh</a>
          <div class="thumbnails">
            <span>
              <img src="http://placekitten.com/203/203" />
            </span>
            <span>
              <img src="http://placekitten.com/201/201" />
            </span>
            <span>
              <img src="http://placekitten.com/202/202" />
            </span>
          </div>
        </div>
      </div>

      <div class="sizes">
        <div class="content">
          <h2>2 different sizes of the Bag</h2>
          <p>Selecting a watch is very personal. As with all things you wear, how it looks is at least as important as what it does. So we set out to make Apple Watch something you’ll love to use every day. As well as something you can’t wait to put on every morning.</p>
          <a href="<!-- @path product.html -->" class="btn btn-blue cta">Koupit batoh</a>
        </div>
      </div>

      <div class="details">
        <div class="content">
          <h2>Colors Lorem ipsum dolor sit amet, consectetur.</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis consequat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia quam at tortor porta dapibus. Phasellus interdum iaculis placerat. Curabitur purus libero, blandit et dictum ut, vulputate ac mi. Proin ultrices felis eget feugiat eleifend. Vivamus a dictum ante.</p>
          <a href="<!-- @path product.html -->" class="btn btn-blue cta">Vybrat batoh</a>
        </div>
        <figure>
          <img src="<!-- @path bagl-detaily.jpg -->" draggable="false" />
        </figure>
      </div>

      <div class="variants">
        <div class="content">
          <h2>Colors Lorem ipsum dolor sit amet, consectetur.</h2>
          <aside>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis consequat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia quam at tortor porta dapibus. Phasellus interdum iaculis placerat.</p>
            <a href="<!-- @path product.html -->" class="btn btn-blue cta">Vybrat batoh</a>
          </aside>
        </div>
        <figure>
          <img src="<!-- @path bagl-varianty.jpg -->" draggable="false" />
        </figure>
      </div>

      <div class="testimonials tabs">
        <article id="testimonial-1" class="item-1 active">
          <div class="inner">
            <p>Topgal batoh je Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis consequat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia quam at tortor porta dapibus.</p>
            <p class="author">
              <img src="http://placekitten.com/42/41" draggable="false" />
              Jarmila Plesnivá, Olomouc
            </p>
          </div>
        </article>
        <article id="testimonial-2" class="item-2">
          <div class="inner">
            <p>Topgal batoh je Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis consequat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia quam at tortor porta dapibus.</p>
            <p class="author">
              <img src="http://placekitten.com/42/41" draggable="false" />
              Jarmila Plesnivá, Olomouc
            </p>
          </div>
        </article>
        <article id="testimonial-3" class="item-3">
          <div class="inner">
            <p>Topgal batoh je Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis consequat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia quam at tortor porta dapibus.</p>
            <p class="author">
              <img src="http://placekitten.com/42/41" draggable="false" />
              Jarmila Plesnivá, Olomouc
            </p>
          </div>
        </article>
        <article id="testimonial-4" class="item-4">
          <div class="inner">
            <p>Topgal batoh je Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis consequat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia quam at tortor porta dapibus.</p>
            <p class="author">
              <img src="http://placekitten.com/42/41" draggable="false" />
              Jarmila Plesnivá, Olomouc
            </p>
          </div>
        </article>
      </div>

      <div class="testimonials-selector tabs-selector">
        <ul>
          <li><a href="#" class="item-1 active">Jarmila</a></li>
          <li><a href="#" class="item-2">Hynek</a></li>
          <li><a href="#" class="item-3">Vilem</a></li>
          <li><a href="#" class="item-4">Vráťa</a></li>
        </ul>
      </div>
    </section>

<!-- @include _footer -->