<!-- $title Batoh EFI 409 -->

<!-- @include _header -->

    <section id="product">

      <div class="hero auto-height" data-vide-bg="http://cdn.euforiabags.com/media/BG2">
        <div class="content">
          <div class="mobile-only-cover-image" style="background-image: url('http://placekitten.com/640/960')"></div>
          <div class="inner auto-height">
            <aside>
              <h1>Stylový batoh EFI 407 P</h1>
              <small>SKU123456</small>
              <p>Dvokoumorový batoh na všestranné použití Do města, do školy, na kratší výlety, případně i na sport.</p>

              <h3>Vyberte barvu</h3>
              <form action="">
                <div class="available-colors">
                  <a href="#" class="item-1 selected"><img src="http://placekitten.com/101/102" /></a>
                  <a href="#" class="item-2"><img src="http://placekitten.com/101/101" /></a>
                  <a href="#" class="item-3"><img src="http://placekitten.com/102/102" /></a>
                  <input type="hidden" name="color" value="1" />
                </div>
                <div class="info">
                  <div class="price">1599 Kč</div>
                  <div class="quantity">Skladem více než <br/>5 kusů</div>
                </div>
                <div class="submit">
                  <input type="submit" value="Přidat do košíku" class="btn btn-blue" />
                </div>
                <div class="social">
                  <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="100%" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                </div>
              </form>
            </aside>
          </div>
        </div>

        <nav>
          <a href="#" class="prev"><span>Batoh EFI&nbsp;408</span></a>
          <a href="#" class="next"><span>Batoh EFI&nbsp;410</span></a>
        </nav>

        <!-- @include _scroll_cta -->
      </div>

      <div class="content">
        <div class="tabs">
          <nav class="tabs-selector">
            <a href="#" class="item-1 active">Detailní fotky</a>
            <a href="#" class="item-2">Detailní popis</a>
            <a href="#" class="item-3">Diskuze</a>
          </nav>

          <article id="photos" class="item-1 active">
            <a href="<!-- @path temp-bagl.jpg -->" onclick="return hs.expand(this)"><img src="<!-- @path temp-bagl.jpg -->" /></a>
            <a href="<!-- @path temp-bagl.jpg -->" onclick="return hs.expand(this)"><img src="<!-- @path temp-bagl.jpg -->" /></a>
            <a href="<!-- @path temp-bagl.jpg -->" onclick="return hs.expand(this)"><img src="<!-- @path temp-bagl.jpg -->" /></a>
            <a href="<!-- @path temp-bagl.jpg -->" onclick="return hs.expand(this)"><img src="<!-- @path temp-bagl.jpg -->" /></a>
            <a href="<!-- @path temp-bagl.jpg -->" onclick="return hs.expand(this)"><img src="<!-- @path temp-bagl.jpg -->" /></a>
            <a href="<!-- @path temp-bagl.jpg -->" onclick="return hs.expand(this)"><img src="<!-- @path temp-bagl.jpg -->" /></a>
          </article>

          <article id="description" class="item-2">

            <div class="formatted-content">
              <p>Selecting a watch is very personal. As with all <a href="">things you wear</a>, how it looks is at least as important as what it does. So we set out to make Apple Watch something you’ll love to use every day. As well as something you can’t wait to put on every morning.</p>

              <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec fringilla sapien. Sed elementum tellus sit amet quam bibendum ultricies. Aliquam efficitur in lacus eu tristique. Donec ut nibh vitae quam tempor dictum eu vitae felis.</strong></p>

              <blockquote>
                Curabitur elementum eleifend metus, a accumsan tellus condimentum eu. Pellentesque porta nisl risus. Donec id suscipit nunc. Duis lacinia massa nec turpis placerat, feugiat facilisis dolor cursus. Morbi lacinia ligula ut sem aliquet dapibus. Maecenas orci felis, fermentum in erat sed, interdum tristique est. Pellentesque non nisl in leo auctor consectetur sit amet in lectus. Sed volutpat finibus purus ut mattis. Nulla congue lectus id eros elementum commodo. Suspendisse sed odio eu metus varius tincidunt malesuada eu sem.
              </blockquote>

              <p>Quisque magna ligula, egestas nec pharetra at, tincidunt a sapien. Vivamus tincidunt nunc nisi, vel tempus ligula ultricies facilisis. Etiam vitae dignissim ante. Etiam porta mattis libero. Fusce vehicula molestie eros, sed aliquam ipsum euismod id. Nulla vestibulum lorem nec turpis aliquet commodo. Donec id urna imperdiet, interdum ex et, tincidunt urna. Morbi eu lectus quis quam condimentum congue. Aliquam vel blandit ipsum, et consequat neque. Sed tempor imperdiet rutrum. Phasellus id scelerisque ipsum, nec pretium leo.</p>

              <div class="columns">
                <div><img src="http://placekitten.com/802/602" /></div>
                <div><img src="http://placekitten.com/802/602" /></div>
                <div><img src="http://placekitten.com/802/602" /></div>
              </div>

              <p>Quisque magna ligula, egestas nec pharetra at, tincidunt a sapien. Vivamus tincidunt nunc nisi, vel tempus ligula ultricies facilisis. Etiam vitae dignissim ante. Etiam porta mattis libero. Fusce vehicula molestie eros, sed aliquam ipsum euismod id. Nulla vestibulum lorem nec turpis aliquet commodo. Donec id urna imperdiet, interdum ex et, tincidunt urna. Morbi eu lectus quis quam condimentum congue. Aliquam vel blandit ipsum, et consequat neque. Sed tempor imperdiet rutrum. Phasellus id scelerisque ipsum, nec pretium leo.</p>
            </div>
          </article>

          <article id="discussion" class="item-3">
            <p>obsah pro diskuzi</p>
          </article>
        </div>
      </div>

      <div class="bottom-photo" style="background-image: url('http://placekitten.com/1400/700')"></div>
    </section>

<!-- @include _footer -->