<!-- $title Vyber si svůj batoh -->

<!-- @include _header -->

    <section id="products">

      <div class="hero">
        <h1>Select your bag</h1>
        <p>Selecting a watch is very personal. As with all things you wear, how it looks is at least as important as what it does. So we set out to make Apple Watch something you’ll love to use every day. As well as something you can’t wait to put on every morning.</p>
      </div>

      <div class="product-list">
        <article>
          <figure>
            <img src="<!-- @path temp-bagl.jpg -->" alt="Euforia Bag 2014" />
          </figure>
          <a href="<!-- @path product.html -->" class="overlay">
            <div class="inner">
              <h2>Euforia Bag 2014</h2>
              <strong>1367 Kč</strong>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
              <div class="btn btn-white">Detail batohu</div>
            </div>
          </a>
        </article>
        <article>
          <figure>
            <img src="<!-- @path temp-bagl.jpg -->" alt="Euforia Bag 2014" />
          </figure>
          <a href="<!-- @path product.html -->" class="overlay">
            <div class="inner">
              <h2>Euforia Bag 2014</h2>
              <strong>1367 Kč</strong>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
              <div class="btn btn-white">Detail batohu</div>
            </div>
          </a>
        </article>
        <article>
          <figure>
            <img src="<!-- @path temp-bagl.jpg -->" alt="Euforia Bag 2014" />
          </figure>
          <a href="<!-- @path product.html -->" class="overlay">
            <div class="inner">
              <h2>Euforia Bag 2014</h2>
              <strong>1367 Kč</strong>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
              <div class="btn btn-white">Detail batohu</div>
            </div>
          </a>
        </article>
        <article>
          <figure>
            <img src="<!-- @path temp-bagl.jpg -->" alt="Euforia Bag 2014" />
          </figure>
          <a href="<!-- @path product.html -->" class="overlay">
            <div class="inner">
              <h2>Euforia Bag 2014</h2>
              <strong>1367 Kč</strong>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
              <div class="btn btn-white">Detail batohu</div>
            </div>
          </a>
        </article>
        <article>
          <figure>
            <img src="<!-- @path temp-bagl.jpg -->" alt="Euforia Bag 2014" />
          </figure>
          <a href="<!-- @path product.html -->" class="overlay">
            <div class="inner">
              <h2>Euforia Bag 2014</h2>
              <strong>1367 Kč</strong>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
              <div class="btn btn-white">Detail batohu</div>
            </div>
          </a>
        </article>
        <article>
          <figure>
            <img src="<!-- @path temp-bagl.jpg -->" alt="Euforia Bag 2014" />
          </figure>
          <a href="<!-- @path product.html -->" class="overlay">
            <div class="inner">
              <h2>Euforia Bag 2014</h2>
              <strong>1367 Kč</strong>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
              <div class="btn btn-white">Detail batohu</div>
            </div>
          </a>
        </article>
      </div>

      <div class="testimonials tabs">
        <article id="testimonial-1" class="item-1 active">
          <div class="inner">
            <p>Topgal batoh je Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis consequat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia quam at tortor porta dapibus.</p>
            <p class="author">
              <img src="http://placekitten.com/42/41" draggable="false" />
              Jarmila Plesnivá, Olomouc
            </p>
          </div>
        </article>
        <article id="testimonial-2" class="item-2">
          <div class="inner">
            <p>Topgal batoh je Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis consequat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia quam at tortor porta dapibus.</p>
            <p class="author">
              <img src="http://placekitten.com/42/41" draggable="false" />
              Jarmila Plesnivá, Olomouc
            </p>
          </div>
        </article>
        <article id="testimonial-3" class="item-3">
          <div class="inner">
            <p>Topgal batoh je Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis consequat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia quam at tortor porta dapibus.</p>
            <p class="author">
              <img src="http://placekitten.com/42/41" draggable="false" />
              Jarmila Plesnivá, Olomouc
            </p>
          </div>
        </article>
        <article id="testimonial-4" class="item-4">
          <div class="inner">
            <p>Topgal batoh je Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis consequat libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia quam at tortor porta dapibus.</p>
            <p class="author">
              <img src="http://placekitten.com/42/41" draggable="false" />
              Jarmila Plesnivá, Olomouc
            </p>
          </div>
        </article>
      </div>

      <div class="testimonials-selector tabs-selector">
        <ul>
          <li><a href="#" class="item-1 active">Jarmila</a></li>
          <li><a href="#" class="item-2">Hynek</a></li>
          <li><a href="#" class="item-3">Vilem</a></li>
          <li><a href="#" class="item-4">Vráťa</a></li>
        </ul>
      </div>

    </section>

<!-- @include _footer -->