<!-- $title Textová stránka -->

<!-- @include _header -->

    <section id="textpage">

      <div class="hero">
        <div class="content">
          <h1>Nadpis stránky</h1>
        </div>
      </div>

      <div class="formatted-content">

        <h1>Text Page</h1>
        <p>Selecting a watch is very personal. As with all <a href="">things you wear</a>, how it looks is at least as important as what it does. So we set out to make Apple Watch something you’ll love to use every day. As well as something you can’t wait to put on every morning.</p>

        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec fringilla sapien. Sed elementum tellus sit amet quam bibendum ultricies. Aliquam efficitur in lacus eu tristique. Donec ut nibh vitae quam tempor dictum eu vitae felis.</strong></p>

        <blockquote>
          Curabitur elementum eleifend metus, a accumsan tellus condimentum eu. Pellentesque porta nisl risus. Donec id suscipit nunc. Duis lacinia massa nec turpis placerat, feugiat facilisis dolor cursus. Morbi lacinia ligula ut sem aliquet dapibus. Maecenas orci felis, fermentum in erat sed, interdum tristique est. Pellentesque non nisl in leo auctor consectetur sit amet in lectus. Sed volutpat finibus purus ut mattis. Nulla congue lectus id eros elementum commodo. Suspendisse sed odio eu metus varius tincidunt malesuada eu sem.
        </blockquote>

        <p>Quisque magna ligula, egestas nec pharetra at, tincidunt a sapien. Vivamus tincidunt nunc nisi, vel tempus ligula ultricies facilisis. Etiam vitae dignissim ante. Etiam porta mattis libero. Fusce vehicula molestie eros, sed aliquam ipsum euismod id. Nulla vestibulum lorem nec turpis aliquet commodo. Donec id urna imperdiet, interdum ex et, tincidunt urna. Morbi eu lectus quis quam condimentum congue. Aliquam vel blandit ipsum, et consequat neque. Sed tempor imperdiet rutrum. Phasellus id scelerisque ipsum, nec pretium leo.</p>

        <div class="columns">
          <div><img src="http://placekitten.com/802/602" /></div>
          <div><img src="http://placekitten.com/802/602" /></div>
          <div><img src="http://placekitten.com/802/602" /></div>
          <div><img src="http://placekitten.com/802/602" /></div>
        </div>

        <p>Quisque magna ligula, egestas nec pharetra at, tincidunt a sapien. Vivamus tincidunt nunc nisi, vel tempus ligula ultricies facilisis. Etiam vitae dignissim ante. Etiam porta mattis libero. Fusce vehicula molestie eros, sed aliquam ipsum euismod id. Nulla vestibulum lorem nec turpis aliquet commodo. Donec id urna imperdiet, interdum ex et, tincidunt urna. Morbi eu lectus quis quam condimentum congue. Aliquam vel blandit ipsum, et consequat neque. Sed tempor imperdiet rutrum. Phasellus id scelerisque ipsum, nec pretium leo.</p>

        <h1>Headline H1</h1>
        <h2>Headline H2</h2>
        <h3>Headline H3</h3>
        <h4>Headline H4</h4>

        <div class="columns">
          <div>
            <p>Vaše údaje</p>
            <ul>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Nulla nec fringilla sapien</li>
              <li>Sed elementum tellus sit amet</li>
              <li>Aliquam efficitur in lacus eu tristique.</li>
            </ul>
          </div>

          <div>
            <p>Vaše údaje</p>
            <ol>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Nulla nec fringilla sapien</li>
              <li>Sed elementum tellus sit amet</li>
              <li>Aliquam efficitur in lacus eu tristique.</li>
            </ol>
          </div>
        </div>

        <p>Curabitur elementum eleifend metus, a accumsan tellus condimentum eu. Pellentesque porta nisl risus. Donec id suscipit nunc. Duis lacinia massa nec turpis placerat, feugiat facilisis dolor cursus. Morbi lacinia ligula ut sem aliquet dapibus. Maecenas orci felis, fermentum in erat sed, interdum tristique est. Pellentesque non nisl in leo auctor consectetur sit amet in lectus. Sed volutpat finibus purus ut mattis. Nulla congue lectus id eros elementum commodo. Suspendisse sed odio eu metus varius tincidunt malesuada eu sem.</p>
        <p>Quisque magna ligula, egestas nec pharetra at, tincidunt a sapien. Vivamus tincidunt nunc nisi, vel tempus ligula ultricies facilisis. Etiam vitae dignissim ante. Etiam porta mattis libero. Fusce vehicula molestie eros, sed aliquam ipsum euismod id. Nulla vestibulum lorem nec turpis aliquet commodo. Donec id urna imperdiet, interdum ex et, tincidunt urna. Morbi eu lectus quis quam condimentum congue. Aliquam vel blandit ipsum, et consequat neque. Sed tempor imperdiet rutrum. Phasellus id scelerisque ipsum, nec pretium leo.</p>

      </div>

    </section>

<!-- @include _footer -->