@import "defaults";

#cart {
  width: $cartWidth;
  top: $menuHeight;
  right: -$cartWidth;
  bottom: 0;
  background: #fff;
  @include transition($defaultTransition);

  @media only screen and (max-width: $mobileBreakpoint) {
    width: 100%;
    right: 0;
    z-index: -1;
  }

  .inner, .bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .inner {
    top: 0;
    bottom: 0;
    padding: 30px 50px;
    padding-bottom: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @media only screen and (max-width: $mobileBreakpoint) {
      padding: 15px;
      padding-bottom: 120px;
    }
  }

  A#closeCart {
    display: inline-block;
    height: 20px;
    line-height: 22px;
    padding-left: 20px;
    background: url(arrow-back.svg) 0 center no-repeat;
    text-decoration: none;
    font-size: 13px;
    color: $grey;

    &:hover {
      text-decoration: underline;
    }
  }

  H5 {
    margin: 25px 0;
    font-size: 34px;
    line-height: 41px;
    color: $black;
    font-weight: 200;
    cursor: default;
    @include user-select(none);

    @media only screen and (max-width: $mobileBreakpoint) {
      font-size: 24px;
      position: absolute;
      top: 5px;
      right: 15px;
      margin: 0;
    }
  }

  .items {
    @media only screen and (max-width: $mobileBreakpoint) {
      padding-top: 15px;
    }

    ARTICLE {
      display: table;
      width: 100%;
      margin-bottom: 30px;

      @media only screen and (max-width: $mobileBreakpoint) {
        display: block;
        @include clearfix;
        position: relative;
        padding: 15px 0;
        border-top: 1px solid $greyLight;
        margin-bottom: 0;
      }

      > DIV, FIGURE {
        display: table-cell;
        vertical-align: middle;

        @media only screen and (max-width: $mobileBreakpoint) {
          display: block;
        }
      }

      FIGURE, IMG {
        width: 64px;
        margin: 0;
      }

      @media only screen and (max-width: $mobileBreakpoint) {
        FIGURE {
          float: left;
          margin-right: 15px;
        }
      }

      IMG {
        display: block;
        border: 0;
        height: 64px;
        border-radius: 50%;
      }

      .desc {
        padding: 0 20px;
        cursor: default;
        @include user-select(none);

        A, SPAN {
          display: block;
        }

        A {
          font-weight: 300;
          color: $blue;
          text-decoration: none;
          font-size: 18px;

          &:hover {
            text-decoration: underline;
          }
        }

        SPAN {
          color: $black;
          font-weight: 400;
        }
      }

      .count {
        width: 94px;
        padding-right: 20px;

        SPAN.select {
          max-width: 94px;
        }

        @media only screen and (max-width: $mobileBreakpoint) {
          width: auto;
          float: left;
        }
      }

      .action,
      .action .delete {
        width: 16px;
      }

      @media only screen and (max-width: $mobileBreakpoint) {
        .action {
          position: absolute;
          top: 15px;
          right: 0;
        }
      }

      .action .delete {
        display: block;
        height: 16px;
        overflow: hidden;
        text-indent: -999px;
        background: url(icon-delete.svg) center center no-repeat;
      }
    }
  }

  .bottom {
    padding-top: 20px;
    @include linear-gradient(rgba(#fff,0) 0,rgba(#fff,1) 20px);

    .btn {
      margin: 0 auto;
      margin-bottom: 30px;

      @media only screen and (max-width: $mobileBreakpoint) {
        margin-bottom: 10px;
      }
    }

    .features {
      display: table;
      width: 100%;
      background: tint($greyLight,50%);
      border-top: 1px solid $greyLight;
      table-layout: fixed;
      cursor: default;
      @include user-select(none);

      @media only screen and (max-width: $mobileBreakpoint) {
        position: relative;
        z-index: 2;

        &:after, &:before {
          display: table-cell;
          content: " ";
        }
      }
    }

    .features > DIV {
      display: table-cell;
      vertical-align: top;
      padding: 30px 40px;
      font-size: 12px;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 14px;
      color: $grey;
      letter-spacing: 0.05em;

      @media only screen and (max-width: $mobileBreakpoint) {
        padding: 10px 10px;
        font-size: 10px;
        letter-spacing: -0.05em;
        width: 140px;
      }

      EM {
        display: block;
        float: left;
        height: 28px;
        background: center center no-repeat;
        margin-right: 10px;
      }
    }

    .features {
      .doprava {
        EM {
          width: 31px;
          background-image: url(icon-doprava.svg);
        }
      }
      .doruceni {
        padding-left: 0;

        EM {
          width: 21px;
          background-image: url(icon-doruceni.svg);
        }
      }
    }
  }
}