// Nastaveni
$menuHeight: 60px; // have to be adjusted in app.js too, for .auto-height
$cartWidth: 480px;
$defaultEasing: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$defaultTransition: all 0.5s $defaultEasing;
$defaultFont: "Roboto", $helvetica;
$tabletBreakpoint: 880px;
$mobileBreakpoint: 710px;
$innerContentMaxWidth: 1120px;

// Barvy
$blue: #0079FF;
$greyLight: #E2E8EE;
$grey: #8A9AAD;
$greyMedium: #9CAFC3;
$greyDark: #6B6B6B;
$black: #535353;
$red: #D0021B;
$green: #1EC38C;


// Blur mixin
@mixin filter($function: none) {
  @include prefixer(filter, $function, webkit spec);
}

// Animation delay
@mixin animation-delay ($times...) {
  @include prefixer(animation-delay, $times, webkit moz spec);
}