@import "defaults";

INPUT, BUTTON {
  font-family: $defaultFont;
}

.btn {
  display: block;
  max-width: 180px;
  padding: 0 5px;
  height: 44px;
  line-height: 44px;
  text-decoration: none;
  border: 1px solid $greyLight;
  background: #fff;
  color: $grey;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  border-radius: 4px;
  font-weight: 400;
  @include transition(all 0.3s);
  @include box-sizing(border-box);

  &:hover {
    border-color: shade($greyLight, 10%);
    background: $greyLight;
    @include transition(all 0);
  }

  &:active, &:focus {
    box-shadow: inset 0 0 10px rgba(#000, 0.4);
  }

  &.btn-clear {
    border-color: #fff;
    background: none;
    color: #fff;

    &:hover {
      background: rgba(#fff,0.2);
    }
  }

  &.btn-blue {
    border-color: $blue;
    background: $blue;
    color: #fff;

    &:hover {
      border-color: tint($blue, 15%);
      background: tint($blue, 15%);
    }
  }

  &.btn-green {
    border-color: $green;
    background: $green;
    color: #fff;

    &:hover {
      border-color: tint($green, 15%);
      background: tint($green, 15%);
    }
  }

  &.btn-white {
    border-color: #fff;
    background: #fff;
    color: $blue;

    &:hover {
    }
  }
}

SPAN.select,
SPAN.text {
  display: block;
  position: relative;
  clear: both;
}

SPAN.select .value,
SPAN.text INPUT {
  color: $black;
  height: 38px;
  border: 1px solid $greyLight;
  background: #fff;
  overflow: hidden;
  border-radius: 4px;
  @include box-sizing(border-box);

  @media only screen and (max-width: $mobileBreakpoint) {
    padding-left: 8px;
  }
}

SPAN.text {
  margin-bottom: 15px;

  LABEL, EM {
    display: block;
    font-size: 14px;
    line-height: 17px;
    color: $grey;
    margin-bottom: 10px;
  }

  INPUT {
    width: 100%;
    font-size: 14px;
    color: $black;
    line-height: 17px;
    padding: 10px;
    outline: none;
    @include appearance(none);

    &:focus {
      border-color: $blue;
      box-shadow: 0 0 5px rgba($blue,0.4);
    }
  }

  &.error {
    LABEL {
    }

    INPUT {
      color: $red;
      background-color: tint($red, 95%);
      border-color: tint($red,70%);

      &:focus {
        background-color: tint($red, 90%);
        border-color: tint($red,50%);
        box-shadow: 0 0 5px rgba($red,0.4);
      }
    }
  }

  EM {
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    font-style: normal;
    font-size: 12px;
    text-transform: uppercase;
  }
}

SPAN.select {
  .value {
    display: block;
    line-height: 38px;
    padding-left: 15px;
    padding-right: 45px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:after {
    display: block;
    content: " ";
    width: 38px;
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    background: url("dropdown-icon.svg") right center no-repeat;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  SELECT {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    margin: 0;
    @include appearance(none);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    cursor: pointer;
    outline: 0;
    opacity: 0;
  }
}