@import "defaults";

HTML, BODY {
  min-height: 100%;
}

BODY {
  font-family: $defaultFont;
  margin: 0;
  background: #fff;
  overflow-x: hidden;
  @include transition(background 1s cubic-bezier(0.785, 0.135, 0.15, 0.86));

  &.cart-opened,
  &.menu-opened {
    @include transition(background 0s);
    background: #000;
  }
}

BODY.cart-opened,
BODY.menu-opened {
  height: 100%;
  overflow: hidden;

  #language .menu {
    display: none;
  }
}

A {
  color: $grey;
  text-decoration: underline;

  &:hover {
    color: $blue;
    text-decoration: none;
    cursor: pointer;
  }
}

BODY > HEADER, #cart {
  position: fixed;
  z-index: 9998;
}

BODY > HEADER {
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: $menuHeight - 1;
  border-bottom: 1px solid $greyLight;
  overflow: visible;
  @include clearfix;

  NAV, UL, LI {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  A.logo {
    margin: 0 auto;
    margin-top: ($menuHeight - 26) / 2;
    text-decoration: none;
    cursor: pointer;

    &, IMG {
      display: block;
      width: 125px;
      height: 25px;
    }

    IMG {
      border: 0;
    }
  }

  &.for-cart {
    A.logo {
      float: right;
      margin-left: 0;
      margin-right: 30px;

    }

    @media only screen and (max-width: $mobileBreakpoint + 100) {
      A.logo {
        float: none;
        margin-left: auto;
        margin-right: auto;
      }

      NAV {
        display: none;
      }
    }
  }

  NAV, A#openCart, #language, #openMenu {
    position: absolute;
    top: 0;
  }

  #openMenu {
    display: none;

    @media only screen and (max-width: $mobileBreakpoint) {
      display: block;
      border: 0;
      background: url('icon-mobilemenu.svg') center center no-repeat;
      width: 30px;
      height: 30px;
      overflow: hidden;
      top: ($menuHeight - 30px) / 2;
      left: 10px;
      text-indent: -999px;
      cursor: pointer;
    }
  }

  NAV {
    left: 0;
    height: $menuHeight;

    @media only screen and (max-width: $mobileBreakpoint) {
      top: 20px;
      height: auto;
      padding-top: 20px;
      position: absolute;
      top: $menuHeight;
      left: 0;
      right: 0;
      bottom: -2000px;
      background: $greyLight;
      @include transition($defaultTransition);
      @include transform(translate3d(-$mobileBreakpoint,0,0));
    }

    LI {
      float: left;
      position: relative;
      top: ($menuHeight - 30px) / 2;

      @media only screen and (max-width: $mobileBreakpoint) {
        float: none;
        top: auto;
        display: block;
      }
    }

    A {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      border-right: 1px solid $greyLight;
      padding: 0 30px;
      text-decoration: none;

      SPAN {
        display: inline-block;
        vertical-align: middle;
        min-width: 25px;
        height: 25px;
        line-height: 26px;
        background-color: $greyMedium;
        color: #fff;
        position: relative;
        top: -2px;
        text-align: center;
        font-weight: 400;
        border-radius: 13px;
        margin-right: 8px;
      }

      &.current {
        color: $black;
      }

      &.current, &:hover {
        SPAN {
          background-color: $blue;
        }
      }

      @media only screen and (max-width: $tabletBreakpoint) {
        padding: 0 15px;
      }

      @media only screen and (max-width: $mobileBreakpoint) {
        display: block;
        border-right: 0;
        margin: 10px 0;
        padding: 0;
        text-align: center;
        height: 40px !important;
        line-height: 40px !important;
        font-size: 24px;
      }
    }

    LI:last-child A {
      border-right: 0;
    }
  }

  A#openCart, #language, NAV A {
    height: 30px;
    line-height: 30px;
    top: ($menuHeight - 30px) / 2;
    @include transform(translate3d(0,0,0));
  }

  A#openCart {
    right: 105px;
    text-decoration: none;

    @media only screen and (max-width: $mobileBreakpoint) {
      right: 20px;
    }

    EM {
      font-style: normal;
      @media only screen and (max-width: $tabletBreakpoint) {
        display: none;
      }
    }

    STRONG {
      @media only screen and (max-width: $mobileBreakpoint) {
          display: none;
      }
    }

    .kosik-icon {
      display: inline-block;
      width: 22px;
      height: 21px;
      background: url(icon-cart.svg) 0 0 no-repeat;
      vertical-align: middle;
      position: relative;
      top: -2px;
      margin-left: 10px;

      SMALL {
        display: block;
        min-width: 7px;
        height: 17px;
        line-height: 17px;
        padding: 0 5px;
        position: absolute;
        top: -10px;
        right: -10px;
        background: $blue;
        text-align: center;
        font-size: 10px;
        font-weight: 400;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 1px 2px #fff;
      }
    }
  }

  #language {
    right: 0;
    padding-right: 15px;

    @media only screen and (max-width: $mobileBreakpoint) {
      display: none;
    }

    .current {
      border-left: 1px solid $greyLight;
      padding-left: 15px;
      padding-right: 23px;
      background: url(arrow-down.svg) right center no-repeat;
      background-size: 13px 7px;
    }

    .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url(icon-lang-cs@2x.png) 0 0 no-repeat;
      background-size: 24px 24px;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }

    .menu {
      visibility: hidden;
      opacity: 0;
      position: fixed;
      z-index: 99999;
      top: -8px;
      right: 7px;
      width: 65px;
      height: auto;
      padding: 2px;
      background: #fff;
      border: 1px solid $greyLight;
      border-radius: 4px;
      box-shadow: 0 1px 5px rgba(#000,0.3);
      @include transition(all 0.1s);

      A {
        display: block;
        font-size: 15px;
        width: 49px;
        height: 24px;
        overflow: hidden;
        text-decoration: none;
        text-indent: -999px;
        background: url(icon-lang-cs@2x.png) 13px center no-repeat;
        background-size: 24px 24px;
        margin-top: 2px;
        padding: 8px;
        border-radius: 3px;
        border: 0 !important;
        position: relative;

        &.current {
          &:after {
            display: block;
            content: " ";
            width: 8px;
            height: 8px;
            overflow: hidden;
            position: absolute;
            right: 10px;
            top: 50%;
            margin-top: -4px;
            background: $blue;
            border-radius: 50%;
          }
        }

        &:hover {
          background-color: $greyLight;
        }

        &:first-child {
          margin-top: 0;
        }

      }
    }

    &.hover {
      height: 100px;

      .menu {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

#cart {
  @media only screen and (max-width: $mobileBreakpoint) {
    @include transform(translate3d($mobileBreakpoint, 0, 0));
  }
}

BODY.cart-opened {
  #cart {
    @include transform(translate3d(-$cartWidth, 0, 0));

    @media only screen and (max-width: $mobileBreakpoint) {
      @include transform(translate3d(0, 0, 0));
      z-index: 10000;
      opacity: 1;
    }
  }

  // TODO: make sure it works on older browsers
  // BODY.ie.cart-opened #cart {
  //   right: 0;
  //   @include transform(translate3d(0, 0, 0));
  // }
}

BODY.menu-opened {
  NAV {
    @media only screen and (max-width: $mobileBreakpoint) {
      @include transform(translate3d(0,0,0));
    }
  }

  #content {
    @media only screen and (max-width: $mobileBreakpoint) {
      opacity: 0.4;
    }
  }
}

#content {
  background: #fff;
  @include transform(translate3d(0,0,0));
  @include transition($defaultTransition);
}

BODY.cart-opened #content {
  opacity: 0.4;
  @include transform(translate3d(-($cartWidth / 2),0,0));
  @include transform-origin(center center);
  // @include filter(blur(5px));

  @media only screen and (max-width: $mobileBreakpoint) {
    @include transform(translate3d(0,0,0));
    // @include filter(blur(0));
  }
}

.hero {
  background: $grey;
  margin-top: $menuHeight;

  @media only screen and (max-width: $mobileBreakpoint) {
    margin-top: $menuHeight;
  }

  * {
    position: relative;
    z-index: 2;
  }

  > DIV {
    z-index: 1 !important;

  }

  &, .content {
    min-height: 550px;

    @media only screen and (max-width: $tabletBreakpoint) {
      height: auto !important;
    }

    @media only screen and (max-width: $mobileBreakpoint) {
      min-height: 0;
    }
  }

  .content {
    display: table;
    width: 100%;
    vertical-align: middle;

    @media only screen and (max-width: $mobileBreakpoint) {
      padding: 30px 20px;
    }

    &:after {
      display: block;
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#000, 0.2);
    }

    .inner {
      display: table-cell;
      vertical-align: middle;
      text-align: center;

      .btn {
        margin-left: auto;
        margin-right: auto;
      }
    }

    > * {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.scroll-cta {
  position: absolute;
  bottom: 50px;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  text-align: left;
  opacity: 0.7;
  @include transition($defaultTransition);
  @include user-select(none);
  cursor: default;

  @media only screen and (max-width: $tabletBreakpoint) {
    display: none;
  }

  &.hide {
    opacity: 0;
  }

  .wrapper {
    padding: 0;
    margin: 0 50px;

    FIGURE {
      display: block;
      margin: 0;
      float: left;
      padding-right: 10px !important;
      padding-top: 5px !important;

      IMG {
        display: block;
        @include animation-duration(2s);
        @include animation-timing-function(linear);
        @include animation-iteration-count(infinite);

        &:first-child {
          @include animation-name(slide, opacity1);
        }

        &:last-child {
          @include animation-name(slide, opacity2);
          position: relative;
          top: -5px;
        }
      }
    }

    SPAN {
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      text-shadow: 0 1px 5px rgba(#000,0.75);
    }

    FIGURE, SPAN {
      cursor: pointer;
    }
  }
}

@include keyframes(opacity1) {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(opacity2) {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@include keyframes(slide) {
  0% {
    @include transform(translate3d(0,-20px,0));
  }
  50% {
    @include transform(translate3d(0,0,0));
  }
  100% {
    @include transform(translate3d(0,20px,0));
  }
}

FOOTER {
  border-top: 1px solid $greyLight;

  .inner {
    display: table;
    width: 100%;
    width: calc(100% - 100px);
    max-width: $innerContentMaxWidth;
    padding: 80px 50px;
    margin: 0 auto;
    background: #fff;

    @media only screen and (max-width: $tabletBreakpoint) {
      display: block;
      width: auto;
      @include clearfix;
    }

    @media only screen and (max-width: $mobileBreakpoint) {
      padding: 40px 25px;
    }

    > DIV, > UL {
      display: table-cell;
      vertical-align: top;
      font-size: 15px;
      line-height: 24px;

      @media only screen and (max-width: $tabletBreakpoint) {
        display: block;
        padding: 0 !important;
      }

      &, A {
        color: $grey;
      }
    }

    .disclaimer {
      padding-right: 50px;
    }

    > UL, .footeraddress {
      width: 20%;
      padding: 0;
      margin: 0;
      list-style: none;
      padding-left: 50px;

      @media only screen and (max-width: $tabletBreakpoint) {
        float: left;
        width: 30%;
        padding-right: 3.33%;
        margin-top: 30px;
      }

      @media only screen and (max-width: $mobileBreakpoint) {
        float: none;
        width: auto;
        padding-right: 0;
      }

      LI.heading, H3 {
        color: $greyDark;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 10px;
        margin: 0;
        font-size: inherit;
        font-weight: normal;
      }

      P {
        margin: 0;
      }

      A {
        text-decoration: none;

        &:hover {
          color: $blue;
          text-decoration: underline;
        }
      }
    }
  }
}
