@import "defaults";

#kosik {
  padding: $menuHeight 50px;
  padding-top: $menuHeight * 1.75;
  max-width: 620px;
  margin: 0 auto;

  @media only screen and (max-width: $mobileBreakpoint) {
    padding-top: $menuHeight * 1.25;
    padding-left: 20px;
    padding-right: 20px;
  }

  H1 {
    font-size: 34px;
    line-height: 41px;
    color: $greyDark;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 0;
    margin-bottom: 30px;

    @media only screen and (max-width: $mobileBreakpoint) {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 15px;
    }
  }

  H2, H3, H4 {
    min-height: 27px;
    line-height: 27px;
    font-size: 15px;
    font-weight: 400;
    color: $greyMedium;
    text-transform: uppercase;
  }

  .box {
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 18px;
    background-color: $greyLight;
    color: $grey;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 30px;

    @media only screen and (max-width: $mobileBreakpoint) {
      font-size: 13px;
      padding: 15px;
      margin-bottom: 25px;
    }

    &.info {
      color: $green;
      background-color: tint($green,75%);
    }

    &.error {
      color: $red;
      background-color: tint($red,75%);
    }

    EM.delivery-icon {
      display: block;
      float: left;
      width: 25px;
      height: 29px;
      overflow: hidden;
      background: url("icon-delivery-green.svg") center center no-repeat;
      margin-top: -7px;
      margin-right: 10px;
    }
  }

  TABLE {
    width: 100%;
    border-collapse: collapse;

    THEAD {
      TR {
        TH {
          font-size: 12px;
          font-weight: 400;
          color: $greyMedium;
          line-height: 16px;
          text-transform: uppercase;
          text-align: center;
          padding-bottom: 10px;

          &:first-child {
            text-align: left;
          }
        }
      }
    }
    TBODY {
      TR {
        TD {
          padding: 10px 0;
          border-top: 1px solid $greyLight;

          &.img {
            width: 12%;

            IMG {
              display: block;
              width: 64px;
              height: 64px;
              border-radius: 50%;

              @media only screen and (max-width: $mobileBreakpoint) {
                width: 32px;
                height: 32px;
                margin-right: 5px;
              }
            }
          }

          &.desc {
            width: 46%;

            @media only screen and (max-width: $mobileBreakpoint) {
              font-size: 12px;
            }

            A {
              color: $black;
              text-decoration: none;

              &:hover {
                color: $blue;
              }

            }

            SMALL {
              display: block;
              font-size: 12px;
              color: $greyMedium;
              line-height: 16px;

              @media only screen and (max-width: $mobileBreakpoint) {
                font-size: 10px;
                line-height: 12px;
              }
            }
          }

          &.count {
            width: 17%;
          }

          &.price {
            width: 25%;
            text-align: center;
            font-weight: bold;

            @media only screen and (max-width: $mobileBreakpoint) {
              padding-left: 5px;
              padding-right: 5px;
            }
          }

          &.action {
            width: 5%;
            A {
              display: block;
              width: 16px;
              height: 16px;
              overflow: hidden;
              text-indent: -999px;
              background: url(icon-delete.svg) center center no-repeat;
            }
          }
        }
      }
    }
  }

  .total {
    display: table;
    table-layout: fixed;
    width: 100%;
    border: 1px solid $greyLight;
    border-radius: 4px;
    padding: 5px 0;
    margin-top: 20px;
    @include box-sizing(border-box);

    @media only screen and (max-width: $mobileBreakpoint) {
      display: block;
      margin-top: 15px;
      padding: 0;
    }

    > DIV {
      display: table-cell;
      vertical-align: middle;
      padding: 7px 0;
      text-align: center;

      @media only screen and (max-width: $mobileBreakpoint) {
        display: block;
        @include clearfix;
      }
    }

    .discount {
      @media only screen and (max-width: $mobileBreakpoint) {
        padding: 4px 0;
      }

      INPUT, BUTTON {
        display: block;
        float: left;
        max-width: 210px;
        background: none;
        border: 0;
        padding: 10px 20px;
        margin: 0;
        font-size: 15px;
        font-weight: 400;
        color: $greyMedium;
        outline: 0;
        @include appearance(none);

        @media only screen and (max-width: $mobileBreakpoint) {
          max-width: 150px;
          padding: 10px;
        }
      }

      INPUT {
        @include placeholder {
          color: tint($greyMedium, 50%);
        }
      }

      BUTTON {
        float: right;
        text-transform: uppercase;
        cursor: pointer;
        font-size: 13px;
        position: relative;
        top: 1px;

        &:active {
          top: 2px;
        }

        @media only screen and (max-width: $mobileBreakpoint) {
          top: 2px;
          right: 3px;
        }
      }
    }

    .price {
      border-left: 1px solid $greyLight;

      @media only screen and (max-width: $mobileBreakpoint) {
        width: 100% !important;
        border-left: 0;
        border-top: 1px solid $greyLight;
      }
    }

    EM {
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      color: $greyMedium;
      line-height: 16px;
      text-transform: uppercase;
      font-style: normal;
      text-align: right;
      margin-right: 10px;
      line-height: 13px;
      position: relative;
      top: -1px;
    }

    STRONG {
      font-size: 28px;
      font-weight: 400;
      color: $black;
      position: relative;
      top: 3px;
    }
  }

  &.step1 .total {
    table-layout: auto;

    .price {
      width: 40%;

      EM {
        width: 55px;
      }
    }
  }

  &.step3 .total {
    .price {
      border-left: 0;
      @media only screen and (max-width: $mobileBreakpoint) {
        border-top: 0;
      }
    }
  }

  &.step2 {

    H1 {
      border-bottom: 1px solid $greyLight;
      padding-bottom: 30px;
    }

    SPAN.select {
      max-width: 300px;
      @media only screen and (max-width: $mobileBreakpoint) {
        max-width: 100%;
      }
    }

    .block {
      border: 1px solid $greyLight;
      border-radius: 4px;

      ARTICLE {
        border-bottom: 1px solid $greyLight;
        @include transition(background-color 0.2s);

        &:hover {
          background-color: tint($greyLight, 95%);
          @include transition(none);
        }

        &:first-child {
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }

        &:last-child {
          border-bottom: 0;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }

        > A, UL {
          padding: 20px 25px;
        }

        UL, LI {
          margin: 0;
          list-style: none;
        }

        A {
          display: block;
          color: $black;
          text-decoration: none;
          cursor: pointer;
        }

        > A, UL LI > A {
          position: relative;

          &:before {
            display: block;
            content: " ";
            position: absolute;
            top: 0;
            left: 5px;
            width: 30px;
            height: 30px;
            background: url("cart-checkmark.svg") 0 -40px no-repeat;
          }

          &.selected:before {
            background-position: 0 0;
          }
        }

        > A {
          padding-left: 70px;
          padding-right: 25px;
          display: block;
          @include clearfix;

          &:before {
            top: 16px;
            left: 20px;
          }

          STRONG {
            font-weight: 400;
          }

          EM {
            display: block;
            float: right;
            font-style: normal;
            margin-left: 20px;
            text-transform: uppercase;
          }

          SMALL {
            display: block;
            font-size: 12px;
            font-weight: 300;
            line-height: 16px;
            color: tint($greyDark,20%);
            margin-top: 2px;
          }
        }

        UL {
          display: none;
          width: calc(100% - 95px);
          table-layout: fixed;
          margin-left: 70px;
          margin-top: 15px;
          padding-top: 15px;
          padding-left: 0;
          border-top: 1px solid $greyLight;

          LI {
            display: table-cell;
            width: 50%;
            padding-left: 10px;

            @media only screen and (max-width: $mobileBreakpoint) {
              display: block;
              width: auto;
              padding-left: 0;
              margin-bottom: 15px;
              min-height: 30px;
            }

            &:first-child {
              padding-left: 0;
            }

            > A {
              display: block;
              font-size: 12px;
              font-weight: 300;
              line-height: 16px;
              color: $greyDark;

              &.card-visa,
              &.card-maestro,
              &.card-mastercard {
                display: block;
                width: 50px;
                height: 30px;
                background: 50px 0 no-repeat;
                background-size: 50px 30px;
                overflow: hidden;
                text-indent: -999px;
              }

              &.card-visa {
                background-image: url("card-visa.png");
              }

              &.card-maestro {
                background-image: url("card-maestro.png");
              }

              &.card-mastercard {
                background-image: url("card-mastercard.png");
              }
            }

            > SPAN {
              margin-top: 10px;
            }

            > A, > SPAN {
              padding-left: 50px;
            }
          }
        }

        &.selected UL {
          display: table;
        }
      }
    }

    SECTION {
      &.country {
        margin-bottom: 30px;
      }

      H3 {
        margin: 25px 0;
        padding-left: 35px;
        background: 0 center no-repeat;
      }

      &.country H3 {
        background-image: url("icon-header-country.svg");
      }

      &.shipping H3 {
        background-image: url("icon-header-payment.svg");
      }

      &.payment H3 {
        background-image: url("icon-header-transport.svg");
      }
    }
  }

  &.step3 {
    FORM {
      float: left;
      width: 58%;
      border-top: 1px solid $greyLight;
      margin-bottom: 20px;

      H2 {
        margin: 25px 0;
        padding-left: 35px;
        background: url("icon-header-address.svg") 0 1px no-repeat;

        @media only screen and (max-width: $mobileBreakpoint) {
          float: none;
          margin-bottom: 10px;
        }
      }

      BUTTON {
        border: 0;
        padding: 0;
        height: 27px;
        line-height: 27px;
        font-size: 15px;
        font-weight: 300;
        color: $greyMedium;
        background: none;
        cursor: pointer;

        &:hover {
          color: $blue;
        }

        EM {
          display: inline-block;
          width: 19px;
          height: 19px;
          line-height: 20px;
          vertical-align: middle;
          background: #fff;
          color: $blue;
          font-style: normal;
          font-size: 21px;
          font-weight: 400;
          border: 1px solid $blue;
          border-radius: 50%;
          position: relative;
          top: -2px;
          overflow: hidden;
          margin-right: 5px;
        }
      }
    }

    ASIDE {
      float: right;
      width: 37%;
      border: 1px solid $greyLight;
      border-radius: 4px;

      H4 {
        margin: 25px 20px;
        @media only screen and (max-width: $mobileBreakpoint) {
          margin: 15px 20px;
        }
      }

      TR:first-child TD {
        border-top: 0;
        padding-top: 0;
      }

      TD {
        font-size: 14px;
        padding-top: 20px;
        padding-bottom: 20px;

        &.img, &.price {
          padding-right: 10px;
        }

        &.price {
          text-align: right;
          width: 60px;
          font-weight: normal;
        }
      }

      TD.img {
        padding-left: 10px;

        IMG {
          width: 32px;
          height: 32px;
        }

        .checkmark {
          display: block;
          width: 30px;
          height: 30px;
          background: url("cart-checkmark.svg") 0 0 no-repeat;
          position: relative;
          top: 1px;
          left: 1px;
        }
      }

      .total {
        display: block;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        background-color: tint($greyLight,50%);
        border-radius: 3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: 0;

        .price {
          display: table;
          width: 100%;
          padding-top: 20px;
          padding-bottom: 20px;

          EM, STRONG {
            display: table-cell;
            vertical-align: middle;
            width: 50%;
            top: 0;
          }

          EM {
            padding-right: 5px;
          }

          @media only screen and (max-width: $mobileBreakpoint) {
            &, EM, STRONG {
              display: block;
              width: auto;
              text-align: center;
              padding-right: 0;
              margin-right: 0;
            }

            STRONG {
              margin-top: 5px;
            }
          }
        }
      }
    }

    @media only screen and (max-width: $mobileBreakpoint) {
      FORM, ASIDE {
        float: none;
        width: auto;
      }
    }

    NAV {
      clear: both;

      .btn {
        max-width: 58%;
        @media only screen and (max-width: $mobileBreakpoint) {
          max-width: 100%;
        }
      }
    }
  }

  NAV {
    @include clearfix;
    margin-top: 30px;

    @media only screen and (max-width: $mobileBreakpoint) {
      margin-top: 25px;
    }

    .btn {
      width: 100%;
      max-width: 190px;
      float: left;

      &.btn-blue {
        float: right;
      }

      @media only screen and (max-width: $mobileBreakpoint) {
        float: none !important;
        max-width: 100%;

        &.btn-blue {
          margin-bottom: 15px;
        }
      }
    }
  }
}

#kosik-finish {
  .hero .content {
    background-image: url("kosik-finish.jpg");
    background-position: center center;
    background-size: cover;

    @media only screen and (max-width: $mobileBreakpoint) {
      width: 100% !important;
      padding-left: 0;
      padding-right: 0;
    }

    IMG {
      display: block;
      border: 0;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    H1, P {
      margin: 0 auto;
      max-width: 620px;
      padding: 0 20px;
    }

    H1 {
      font-size: 34px;
      color: #fff;
      line-height: normal;
      font-weight: 100;
      @media only screen and (max-width: $mobileBreakpoint) {
        font-weight: 300;
        font-size: 32px;
        line-height: 38px;
      }
    }

    P {
      font-size: 16px;
      color: #eee;
      color: rgba(#fff,0.8);
      line-height: 27px;
      margin-top: 30px;
      margin-bottom: 30px;
      font-weight: 400;

      @media only screen and (max-width: $mobileBreakpoint) {
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}
