@import "defaults";

#product {
  @media only screen and (max-width: $tabletBreakpoint) {
    .auto-height {
      height: auto !important;
      min-height: 0 !important;
      overflow: hidden !important;
    }
  }

  .hero {
    overflow: visible;

    @media only screen and (max-width: $mobileBreakpoint) {
      > DIV:not(.content) {
        display: none;
      }
    }

    .content {
      @media only screen and (max-width: $tabletBreakpoint) {
        padding: 60px 0;
        display: block;
        width: auto;
      }

      @media only screen and (max-width: $mobileBreakpoint) {
        padding: 0;
      }

      .mobile-only-cover-image {
        display: none;

        @media only screen and (max-width: $mobileBreakpoint) {
          display: block;
          height: 300px;
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          background-color: $grey;
          position: relative;

          &:after {
            display: block;
            content: " ";
            height: 100px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            @include linear-gradient(rgba(#000,0),rgba(#000,1));
          }
        }
      }

      &:before {
        display: block;
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        @include linear-gradient(to right, rgba(#000,0.0) 47%, rgba(#000,0.8) 100%);
      }

      .inner {
        display: block;
        width: 100%;
        max-width: $innerContentMaxWidth + 100;
        height: 100%;
        padding: 0 50px;
        margin: 0 auto;
        text-align: left;
        @include box-sizing(border-box);

        @media only screen and (max-width: $mobileBreakpoint) {
          padding: 0;
          background: #000;
        }
      }
    }

    ASIDE {
      display: block;
      width: 320px;
      position: absolute;
      top: 50%;
      right: 50px;
      -webkit-transition: -webkit-transform 0.2s;
      -moz-transition: -moz-transform 0.2s;
      transition: transform 0.2s;

      @media only screen and (max-width: $innerContentMaxWidth + 120) {
        right: 70px;
      }

      @media only screen and (max-width: $tabletBreakpoint) {
        float: right;
        position: relative;
        top: auto !important;
        right: 20px;
        left: auto;
        margin-top: 0 !important;
      }

      @media only screen and (max-width: $mobileBreakpoint) {
        float: none;
        width: auto;
        right: 0;
        margin: 0;
      }

      @media only screen and (max-height: 550 + $menuHeight) {
        margin-top: 10px !important;
        top: 0;
      }

      FORM, FIELDSET, H1, H3, P {
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
      }

      H1, P, SMALL, H3 {
        padding: 0 10px;
        @media only screen and (max-width: $mobileBreakpoint) {
          padding: 0 15px;
          margin: 0 10px;
        }
      }

      H1 {
        font-size: 44px;
        line-height: 53px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 10px;
        @media only screen and (max-width: $mobileBreakpoint) {
          text-indent: -3px;
        }
      }

      P, SMALL {
        font-size: 15px;
        line-height: 21px;
        color: #eee;
        color: rgba(#fff,0.8);
        text-align: justify;
      }
      SMALL {
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
        color: #fff;
        color: rgba(#fff,0.4);
      }

      H3 {
        font-size: 12px;
        color: #fff;
        color: rgba(#fff,0.4);
        line-height: 14px;
        text-transform: uppercase;
        font-weight: normal;
        margin-top: 15px;
        border-top: 1px solid rgba(#fff, 0.1);
        padding-top: 15px;
        padding-bottom: 15px;

        @media only screen and (max-width: $mobileBreakpoint) {
          text-align: center;
          padding-top: 30px;
          margin-top: 30px;
        }
      }

      .available-colors {
        @media only screen and (max-width: $mobileBreakpoint) {
          text-align: center;
        }

        &, A, IMG {
          display: block;
          height: 100px;

          @media only screen and (max-width: $mobileBreakpoint) {
            height: 80px;
          }
        }

        A {
          float: left;
          border: 2px solid #fff;
          background: #fff;
          z-index: 1;
          position: relative;
          margin-left: 4px;
          cursor: pointer;

          @media only screen and (max-width: $mobileBreakpoint) {
            float: none;
            display: inline-block;
          }

          &:first-child {
            margin-left: 0;
          }

          &:after {
            display: block;
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url("selected-product.svg") center center no-repeat;
            z-index: 2;
            opacity: 0;
            @include transition(opacity 0.1s);
          }

          &:hover:after {
            opacity: 0.5;
          }

          &.selected:after {
            opacity: 1;
          }

          &, &:after, IMG {
            width: 100px;
            border-radius: 50%;

            @media only screen and (max-width: $mobileBreakpoint) {
              width: 80px;
            }
          }

          IMG {
            border: 0;
          }
        }
      }

      .info {
        display: table;
        width: 100%;
        margin-top: 30px;
        border-top: 1px solid rgba(#fff, 0.1);
        padding-top: 15px;

        @media only screen and (max-width: $mobileBreakpoint) {
          padding-top: 30px;
        }

        & > DIV {
          display: table-cell;
          vertical-align: middle;
          padding: 0 10px;
        }

        .price {
          width: 40%;
          text-align: right;
          font-size: 24px;
          font-weight: 400;
          color: #fff;
        }

        .quantity {
          width: 60%;
          font-size: 12px;
          line-height: 14px;
          text-transform: uppercase;
          color: #eee;
          color: rgba(#fff,0.8);
        }

        @media only screen and (max-width: $mobileBreakpoint) {
          &, .price, .quantity {
            display: block;
            width: auto;
            text-align: center;

            BR {
              display: none;
            }
          }
        }
      }

      .submit {
        padding: 15px 0;

        @media only screen and (max-width: $mobileBreakpoint) {
          padding-top: 30px;
          padding-bottom: 0;
        }

        INPUT {
          width: 100%;
          max-width: 100%;
          margin: 0;
          font-weight: 400;
          font-size: 16px;

          @media only screen and (max-width: $mobileBreakpoint) {
            border-radius: 0;
            @include appearance(none);
            height: 50px;
            line-height: 50px;
            font-weight: normal;
          }
        }
      }

      .social {
        min-height: 20px;

        @media only screen and (max-width: $mobileBreakpoint) {
          display: none;
        }
      }

      &.out {
        @include transform(translate3d(1000px,0,0));
        @media only screen and (max-width: $tabletBreakpoint) {
          @include transform(translate3d(0,0,0));
        }
      }

      &.in-content {
        margin-top: 10px !important;
        right: 50px;

        @media only screen and (max-width: $tabletBreakpoint) {
          margin-top: 0 !important;
          right: 20px;
        }

        @media only screen and (max-width: $mobileBreakpoint) {
          right: 0;
        }

        H1, SMALL, P, .info .price {
          color: $black;
          @media only screen and (max-width: $tabletBreakpoint) {
            color: #fff;
          }
        }

        .info, H3 {
          border-color: $greyLight;
          @media only screen and (max-width: $tabletBreakpoint) {
            border-top: 1px solid rgba(#fff, 0.1);
          }
        }

        .info .quantity, H3 {
          color: $grey;
        }

        @media only screen and (max-width: $tabletBreakpoint) {
          .info .quantity, P {
            color: #eee;
            color: rgba(#fff,0.8);
          }

          H3 {
            color: #fff;
            color: rgba(#fff,0.4);
          }
        }
      }
    }

    NAV {
      height: 0;
      overflow: visible;
      position: static;

      A {
        display: block;
        width: 44px;
        height: 44px;
        margin-top: -22px;
        position: absolute;
        top: 50%;
        overflow: hidden;
        z-index: 10;
        text-decoration: none;
        background-position: center center;
        background-repeat: no-repeat;

        @media only screen and (max-width: $mobileBreakpoint) {
          top: 150px;
        }

        &, SPAN {
          position: absolute;
          @include transition(all 0.15s);
          background-color: rgba(#000, 0.7);
        }

        SPAN {
          display: block;
          width: auto;
          height: 40px;
          padding-top: 4px;
          top: 0;
          line-height: 19px;
          opacity: 0;
          overflow: hidden;
          color: #fff;

          @media only screen and (max-width: $mobileBreakpoint) {
            display: none;
          }
        }

        &:hover {
          overflow: visible;
          SPAN {
            opacity: 1;
          }
        }

        &.prev {
          left: 0;
          background-image: url("arrow-left.svg");

          SPAN {
            left: 44px;
            padding-right: 10px;
          }
        }

        &.next {
          right: 0;
          background-image: url("arrow-right.svg");

          SPAN {
            right: 44px;
            text-align: right;
            padding-left: 10px;
          }
        }
      }
    }
  }

  > .content {
    max-width: $innerContentMaxWidth;
    min-height: 600px; // TODO: Better make this dynamic
    margin: 0 auto;
    padding: 70px 50px;

    @media only screen and (max-width: $tabletBreakpoint) {
      min-height: 0;
    }

    @media only screen and (max-width: $mobileBreakpoint) {
      padding: 30px 25px;
    }

    .tabs {
      padding-right: 370px;

      @media only screen and (max-width: $tabletBreakpoint) {
        padding-right: 0;
      }

      NAV {
        margin-bottom: 45px;

        @media only screen and (max-width: $mobileBreakpoint) {
          text-align: center;
          margin-bottom: 30px;
        }

        A {
          display: inline-block;
          padding: 5px 30px;
          border-right: 2px solid $greyLight;
          font-size: 16px;
          color: $grey;
          text-decoration: none;
          position: relative;

          @media only screen and (max-width: 880px) {
            padding: 5px 15px;
          }

          @media only screen and (max-width: $mobileBreakpoint) {
            padding: 5px 10px;
            border-right-width: 1px;
            font-size: 14px;
          }

          &, &:after {
            @include transition(all 0.2s $defaultEasing);
          }

          &:hover {
            color: $black;
            &,  &:after {
              @include transition(all 0);
            }
          }

          &:after {
            display: block;
            content: " ";
            position: absolute;
            left: 30px;
            right: 30px;
            bottom: 0;
            height: 2px;
            overflow: hidden;
            background: #fff;

            @media only screen and (max-width: 880px) {
              left: 15px;
              right: 15px;
            }

            @media only screen and (max-width: $mobileBreakpoint) {
              left: 10px;
              right: 10px;
            }
          }

          &:first-child {
            padding-left: 0;
            &:after {
              left: 0;
            }
          }

          &:last-child {
            margin-right: 0;
            border-right: 0;

            @media only screen and (max-width: $mobileBreakpoint) {
              padding-right: 0;

              &:after {
                right: 0;
              }
            }
          }

          &.active {
            color: $blue;
            &:after {
              background: $blue;
            }
          }
        }
      }

      ARTICLE {
        display: none;

        &.active {
          display: block;
        }

        &#photos {
          @include clearfix;

          A {
            display: block;
            float: left;
            width: 30%;
            height: auto;
            margin-right: 2.5%;
            margin-bottom: 2.5%;
            overflow: hidden;

            &:nth-child(3n) {
              margin-right: 0;
            }

            @media only screen and (max-width: $mobileBreakpoint) {
              width: 48%;
              margin-right: 4%;
              margin-bottom: 4%;

              &:nth-child(3n) {
                margin-right: 4%;
              }

              &:nth-child(even) {
                margin-right: 0 !important;
              }
            }

            IMG {
              display: block;
              width: 100%;
              height: auto;
              border: 0;
            }
          }
        }
      }
    }
  }

  .bottom-photo {
    background-color: $grey;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    // background-attachment: fixed;
    // @include box-shadow(inset 0 5px 10px rgba(#000,0.2));
  }
}
