@import "defaults";

#textpage {
  padding-top: $menuHeight + 50;

  @media only screen and (max-width: $mobileBreakpoint) {
    padding-top: $menuHeight + 30;
  }

  .hero {
    margin-top: -50px;
    margin-bottom: 60px;

    @media only screen and (max-width: $mobileBreakpoint) {
      margin-top: -30px;
      margin-bottom: 30px;
    }

    &, .content {
      min-height: 0;
    }

    .content {
      display: block;
      width: auto;
      max-width: $innerContentMaxWidth;
      margin: 0 auto;
      padding: 70px 50px;

      @media only screen and (max-width: $mobileBreakpoint) {
        padding: 40px 25px;
      }

      &:after {
        display: none;
      }

      H1 {
        font-size: 60px;
        line-height: 82px;
        color: #fff;
        line-height: normal;
        font-weight: 100;
        margin: 0;

        @media only screen and (max-width: $mobileBreakpoint) {
          font-size: 44px;
          line-height: 60px;
        }
      }
    }
  }

  .formatted-content {
    max-width: $innerContentMaxWidth;
    margin: 0 auto;
    padding: 0 50px;
    padding-bottom: 80px;

    @media only screen and (max-width: $mobileBreakpoint) {
      padding: 0 25px;
      padding-bottom: 50px;
    }

    > * {
      max-width: $innerContentMaxWidth - 200;
    }

    BLOCKQUOTE {
      max-width: $innerContentMaxWidth - 200 - 63; /* 63 = border + paddings*/
    }
  }
}

.formatted-content {
  > *:first-child {
    margin-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }

  .columns {
    display: table;
    width: 100%;
    width: calc(100% + 20px);
    margin-left: -10px;
    table-layout: fixed;

    @media only screen and (max-width: $mobileBreakpoint) {
      display: block;
      width: 100%;
      margin-left: 0;
    }

    > DIV {
      display: table-cell;
      vertical-align: top;
      width: 100%;
      padding: 0 10px;

      @media only screen and (max-width: $mobileBreakpoint) {
        display: block;
        height: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 0;
      }

      IMG {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  H1, H2, H3, H4, H5, H6, P, UL, OL, BLOCKQUOTE {
    margin: 25px 0;
    @media only screen and (max-width: $mobileBreakpoint) {
      margin: 15px 0;
    }
  }

  H1, H2, H3, H4, H5, H6 {
    font-weight: 300;
    color: $black;
    position: relative;
    left: -1px;
  }

  H1 {
    font-size: 60px;
    line-height: 82px;
    @media only screen and (max-width: $mobileBreakpoint) {
      font-size: 44px;
      line-height: 60px;
    }
  }

  H2 {
    font-size: 44px;
    line-height: 60px;
    @media only screen and (max-width: $mobileBreakpoint) {
      font-size: 34px;
      line-height: 46px;
    }
  }

  H3 {
    font-size: 34px;
    line-height: 46px;
    @media only screen and (max-width: $mobileBreakpoint) {
      font-size: 26px;
      line-height: 36px;
    }
  }

  H4, H5, H6 {
    font-size: 26px;
    line-height: 36px;
    @media only screen and (max-width: $mobileBreakpoint) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  P, LI, LI:before, OL, BLOCKQUOTE {
    font-size: 16px;
    line-height: 28px;
    color: $black;
    @media only screen and (max-width: $mobileBreakpoint) {
      font-size: 14px;
      line-height: 24px;
    }
  }

  BLOCKQUOTE {
    padding: 15px 20px;
    background: $greyLight;
    border-left: 3px solid $greyMedium;
  }

  UL, OL {
    padding-left: 25px;
  }

  UL {
    list-style: none;

    LI {
      position: relative;

      &:before {
        display: block;
        content: "\2022";
        position: absolute;
        left: -20px;
        top: 0;
        font-size: 18px;
        color: $blue;
      }
    }
  }
}
