@import "defaults";

#products {
  .hero {
    background: none;
    min-height: 0;
    padding: 90px 50px;
    text-align: center;
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;

    @media only screen and (max-width: $mobileBreakpoint) {
      padding: 40px 20px;
    }

    H1 {
      font-size: 44px;
      font-weight: 300;
      line-height: 60px;
      color: $black;
      margin: 0;
    }

    P {
      font-size: 16px;
      color: $greyDark;
      line-height: 28px;
      margin: 0;
      margin-top: 30px;
    }
  }

  .product-list {
    max-width: $innerContentMaxWidth;
    margin: 0 auto;
    padding: 0 50px;
    padding-bottom: 50px;
    @include clearfix;

    @media only screen and (max-width: $mobileBreakpoint) {
      padding: 0 20px;
    }

    ARTICLE {
      float: left;
      width: 30%;
      margin-right: 5%;
      margin-bottom: 5%;
      position: relative;

      &:nth-child(3n) {
        margin-right: 0;
      }

      @media only screen and (max-width: 930px) {
        width: 48%;
        margin-right: 4%;
        margin-bottom: 4%;

        &:nth-child(3n) {
          margin-right: 4%;
        }

        &:nth-child(even) {
          margin-right: 0 !important;
        }
      }

      @media only screen and (max-width: $mobileBreakpoint) {
        margin-right: 0;
        width: 100%;
      }

      FIGURE {
        display: block;
        margin: 0;
        padding: 0;
        border: 1px solid $greyLight;
        border-radius: 4px;
        overflow: hidden;

        IMG {
          display: block;
          width: 100%;
          height: auto;
          border-radius: 3px;
          overflow: hidden;
        }
      }

      A.overlay {
        display: block;
        text-decoration: none;
        background: rgba($blue, 0.9);
        color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 0;

        &, .inner {
          @include transition(all 0.2s);
        }

        .inner {
          display: inline-block;
          width: 100%;
          vertical-align: middle;
          line-height: normal;
          text-align: center;
          @include transform(scale(0.95));

          H2, P, STRONG {
            color: #fff;
          }

          H2, P, STRONG, .btn {
            margin: 0 10%;
            @media only screen and (max-width: $innerContentMaxWidth + 100) {
              margin: 0 5%;
            }
          }

          H2 {
            font-size: 34px;
            line-height: 46px;
            font-weight: 300;

            @media only screen and (max-width: $innerContentMaxWidth + 100) {
              font-size: 24px;
              line-height: 36px;
            }
          }

          STRONG {
            display: block;
            font-size: 28px;
            font-weight: 500;
            line-height: 38px;
            margin-top: 4%;
            margin-bottom: 5%;
            padding-bottom: 5%;
            border-bottom: 1px solid rgba(#fff, 0.3);

            @media only screen and (max-width: $innerContentMaxWidth + 100) {
              font-size: 18px;
              line-height: 28px;
              margin-top: 1%;
              margin-bottom: 4%;
              padding-bottom: 3%;
            }
          }

          P {
            font-size: 14px;
            line-height: 21px;
          }

          .btn {
            max-width: 100%;
            margin-top: 4%;
          }
        }

        &:hover {
          opacity: 1;

          .inner {
            @include transform(scale(1));
          }
        }
      }
    }
  }
}
