@import "defaults";

#index {
  .hero .content {
    @media only screen and (max-width: $mobileBreakpoint) {
      width: 100% !important;
      padding-left: 0;
      padding-right: 0;

    }

    H1, P {
      margin: 0 auto;
      max-width: 750px;
      padding: 0 20px;
    }

    H1 {
      font-size: 80px;
      color: #fff;
      line-height: 100px;
      font-weight: 100;
      @media only screen and (max-width: $mobileBreakpoint) {
        font-weight: 300;
        font-size: 32px;
        line-height: 38px;
        margin-top: 40px;
      }
    }

    P {
      font-size: 24px;
      color: #eee;
      color: rgba(#fff,0.8);
      line-height: 27px;
      margin-top: 30px;
      margin-bottom: 40px;
      font-weight: 400;

      @media only screen and (max-width: $mobileBreakpoint) {
        font-size: 15px;
        line-height: 22px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .content {
    @media only screen and (max-width: $mobileBreakpoint) {
      float: none !important;
      width: auto !important;

      .btn {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px !important;
        margin-bottom: 30px !important;
      }
    }

    H2, P {
      margin: 0;
      margin-bottom: 50px;

      @media only screen and (max-width: $mobileBreakpoint) {
        text-align: center;
        margin-bottom: 20px;
      }
    }

    H2 {
      font-size: 44px;
      line-height: 60px;
      font-weight: 300;
      color: $black;

      @media only screen and (max-width: $mobileBreakpoint) {
        font-size: 28px;
        line-height: 38px;
      }
    }

    P {
      font-size: 16px;
      line-height: 28px;
      color: $greyDark;

      @media only screen and (max-width: $mobileBreakpoint) {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  FIGURE {
    &, IMG {
      display: block;
      margin: 0;
      padding: 0;
      border: 0;
    }
  }

  .make, .sizes, .details, .variants {
    padding: 90px 50px;
    @include clearfix;

    @media only screen and (max-width: $tabletBreakpoint) {
      padding: 45px 25px;
    }

    @media only screen and (max-width: $mobileBreakpoint) {
      padding: 40px 20px;
    }
  }

  .make {
    max-width: $innerContentMaxWidth;
    margin: 0 auto;
    overflow: visible;

    FIGURE {
      float: right;
      width: 48%;
      padding-left: 2%;
      @include clearfix;

      IMG {
        float: right;
        width: 100%;
        max-width: 510px;
        height: auto;
      }

      @media only screen and (max-width: $mobileBreakpoint) {
        float: none;
        width: auto;
        padding: 0;
        margin-bottom: 20px;

        IMG {
          float: none;
          margin: 0 auto;
          max-width: 200px;
        }
      }
    }

    .content {
      float: left;
      width: 50%;
    }

    .thumbnails {
      @include clearfix;
      padding-top: 60px;

      @media only screen and (max-width: $mobileBreakpoint) {
        text-align: center;
        padding-top: 5px;
      }

      SPAN {
        display: inline-block;
        border: 2px solid #fff;
        margin-right: 35px;
        box-shadow: 0 1px 3px rgba(#000, 0.3);

        @media only screen and (max-width: 1180px) {
          margin-right: 20px;
        }

        @media only screen and (max-width: $tabletBreakpoint) {
          margin-right: 10px;
        }

        @media only screen and (max-width: $mobileBreakpoint) {
          margin-right: 5px;
        }

        &:last-child {
          margin-right: 0;
        }

        &, IMG {
          width: 150px;
          height: 150px;
          border-radius: 50%;

          @media only screen and (max-width: 1180px) {
            width: 120px;
            height: 120px;
          }

          @media only screen and (max-width: 1024px) {
            width: 100px;
            height: 100px;
          }

          @media only screen and (max-width: $tabletBreakpoint) {
            width: 80px;
            height: 80px;
          }

          @media only screen and (max-width: $mobileBreakpoint) {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
  }

  .sizes, .details, .variants {
    border-top: 1px solid $greyLight;

    .content {
      max-width: 666px;
      margin: 0 auto;
      text-align: center;

      .btn {
        margin: 0 auto;
      }
    }
  }

  .sizes {
    background: url("bagl-landscape.jpg") center bottom no-repeat;
    padding-bottom: 420px;

    @media only screen and (max-width: $mobileBreakpoint) {
      background-size: 600px auto;
      padding-bottom: 145px;
    }
  }

  .details {
    FIGURE {
      padding-top: 20px;
      max-width: 1107px;
      margin: 0 auto;

      @media only screen and (max-width: $mobileBreakpoint) {
        padding-top: 5px;
      }

      IMG {
        display: block;
        width: 100%;
        height: auto;
        border: 0;
      }
    }
  }

  .variants {
    .content {
      max-width: $innerContentMaxWidth;
      text-align: left;
      @include clearfix;

      P {
        margin: 0;
        padding-top: 10px;
      }

      .btn {
        margin: 0;
        margin-top: 30px;

        @media only screen and (max-width: $mobileBreakpoint) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    H2 {
      float: left;
      text-align: right;
      width: 33%;
      padding-right: 4%;
      margin: 0;

      @media only screen and (max-width: $mobileBreakpoint) {
        float: none;
        width: auto;
        text-align: center;
      }
    }

    ASIDE {
      float: right;
      width: 63%;

      @media only screen and (max-width: $mobileBreakpoint) {
        float: none;
        width: auto;
      }
    }

    FIGURE {
      display: block;
      max-width: 1156px;
      padding: 0;
      border: 0;
      margin: 0 auto;
      margin-top: 50px;

      @media only screen and (max-width: $mobileBreakpoint) {
        margin-top: 10px;
      }

      IMG {
        clear: both;
        display: block;
        width: 100%;
        height: auto;
        border: 0;
      }
    }
  }
}

.testimonials {
  position: relative;
  height: 600px;
  padding: 0;
  background: $greyDark;
  overflow: hidden;
  @include clearfix;

  @media only screen and (max-width: $mobileBreakpoint) {
    height: 460px;
  }

  ARTICLE {
    display: table;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    background: center center no-repeat;
    background-size: cover;
    cursor: pointer;

    &:after {
      display: block;
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(#000, 0.3);
    }

    &, .inner {
      @include transition($defaultTransition);
    }

    .inner {
      @include transform(scale(0.5,2));
    }

    &.active {
      z-index: 1;
      opacity: 1;

      .inner {
        @include transform(scale(1));
      }
    }

    &#testimonial-1 {
      background-image: url("http://placekitten.com/1200/900");
    }

    &#testimonial-2 {
      background-image: url("http://placekitten.com/1200/901");
    }

    &#testimonial-3 {
      background-image: url("http://placekitten.com/1300/907");
    }

    &#testimonial-4 {
      background-image: url("http://placekitten.com/1200/904");
    }

    .inner {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      position: relative;
      z-index: 2;

      @media only screen and (max-width: $mobileBreakpoint) {
        padding-bottom: 65px; // same as .testimonials-selector
      }

      P {
        max-width: 860px;
        margin: 0 auto;
        text-align: left;
        font-weight: 300;
        font-size: 26px;
        line-height: 42px;
        color: #fff;
        position: relative;
        padding: 0 50px;
        cursor: pointer;
        text-shadow: 0 1px 5px rgba(#000,0.5);
        @include user-select(none);

        @media only screen and (max-width: $mobileBreakpoint) {
          font-size: 18px;
          line-height: 28px;
          text-align: center;
        }

        &:first-child:before {
          display: block;
          content: " ";
          width: 57px;
          height: 43px;
          background: url("quotes.svg") 0 0 no-repeat;
          position: absolute;
          top: -30px;
          left: -12px;
        }

        &.author {
          font-size: 16px;
          color: #ddd;
          font-weight: normal;
          margin-top: 20px;

          @media only screen and (max-width: $mobileBreakpoint) {
            line-height: 21px;
            font-size: 12px;
            text-transform: uppercase;
          }

          IMG {
            display: inline-block;
            vertical-align: middle;
            width: 40px;
            height: 40px;
            position: relative;
            top: -1px;
            margin-right: 10px;
            border-radius: 50%;
            border: 1px solid #fff;
            box-shadow: 0 1px 5px rgba(#000,0.2);

            @media only screen and (max-width: $mobileBreakpoint) {
              display: block;
              margin: 0 auto;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.testimonials-selector {
  height: 65px;
  margin-top: -65px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding: 0;

  UL, LI {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: default;
  }

  UL {
    text-align: center;
  }

  LI {
    display: inline-block;

    A {
      display: block;
      width: 8px;
      height: 8px;
      overflow: hidden;
      text-indent: -999px;
      border: 2px solid #fff;
      margin: 4px;
      border-radius: 50%;
      background: rgba(#fff, 0.5);
      opacity: 0.6;
      cursor: pointer;
      @include transition(opacity 0.1s);

      &.active {
        width: 10px;
        height: 10px;
        margin: 3px;
        opacity: 1;
        background: none;
      }

      &:hover {
        opacity: 1;
        background: none;
        @include transition(0);
      }
    }
  }
}
