<section id="cart">
  <div class="inner">
    <a href="#" id="closeCart">Zpět</a>
    <h5>Obsah košíku</h5>
    <div class="items">
      <article>
        <figure>
          <img src="<!-- @path temp-bagl.jpg -->" draggable="false" />
        </figure>
        <div class="desc">
          <a href="#">Batoh EFI 408</a>
          <span>1390 Kč</span>
        </div>
        <div class="count">
          <span class="select">
            <span class="value">1 ks</span>
            <select>
              <option value="1 ks" selected="selected">1 ks</option>
              <option value="2 ks">2 ks</option>
              <option value="3 ks">3 ks</option>
            </select>
          </span>
        </div>
        <div class="action">
          <a href="#" class="delete">Smazat</a>
        </div>
      </article>
    </div>
  </div>
  <div class="bottom">
    <a href="<!-- @path cart_step1.html -->" class="btn btn-blue">Přejít do košíku</a>
    <div class="features">
      <div class="doprava"><em></em>Dopravu do ČR máte&nbsp;zdarma</div>
      <div class="doruceni"><em></em>Doručení už zítra, při objednávce&nbsp;nyní</div>
    </div>
  </div>
</section>
