
      <!-- TODO: Don't show on cart -->
      <footer>
        <div class="inner">
          <div class="disclaimer">
            <img src="<!-- @path logo.svg -->" width="125" height="25" alt="Euforia by Topgal" draggable="false" />
            <p>Dvokoumorový batoh na všestranné použití do města, do školy, na kratší výlety, případně i na sport. Obsahuje neoprénovou kapsu na bezpečné uložení notebooku do maximální velikosti 16”.</p>
          </div>

          <ul>
            <li class="heading">Nákupy online</li>
            <li><a href="">Jak vybrat školní batoh</a></li>
            <li><a href="">Jak nakupovat</a></li>
            <li><a href="">Reklamační řád</a></li>
            <li><a href="">Obchodní podmínky</a></li>
            <li><a href="">Často kladené otázky</a></li>
          </ul>

          <ul>
            <li class="heading">Nákupy online</li>
            <li><a href="">Jak vybrat školní batoh</a></li>
            <li><a href="">Jak nakupovat</a></li>
            <li><a href="">Reklamační řád</a></li>
            <li><a href="">Obchodní podmínky</a></li>
            <li><a href="">Často kladené otázky</a></li>
          </ul>

          <div class="footeraddress">
            <h3>Provozovatel</h3>
            <p>
              TOPGAL a.s.<br>
              U Horní brány 8<br>
              78501&nbsp;Šternberk<br>
              tel. +420 731 574 660<br>
              <a href="mailto:info@euforiabags.com">info@euforiabags.com</a>
            </p>
          </div>
        </div>
      </footer>

    </section>

    <!-- @javascript jquery-1.10.1.min.js highslide.js retina.min.js jquery.vide.js placeholders.jquery.min.js jquery.pin.min.js app -->
  </body>
</html>
