    <!-- @include _header_meta -->

    <header>
      <a href="<!-- @path index -->" class="logo">
        <img src="<!-- @path logo.svg -->" width="125" height="25" alt="Euforia by Topgal" draggable="false" />
      </a>

      <button id="openMenu">Open mobile menu</button>

      <nav>
        <ul>
          <li><a href="<!-- @path shop -->">Shop</a></li>
          <li><a href="<!-- @path textpage -->">Textová stránka</a></li>
        </ul>
      </nav>

      <a href="#" id="openCart">
        <em>Košík:</em>
        <strong id="cartPrice">1399 Kč</strong>
        <span class="kosik-icon">
          <small id="cartItems">3</small>
        </span>
      </a>

      <div id="language">
        <div class="current">
          <div class="icon cs" />
        </div>
        <div class="menu">
          <a href="#" class="cs current">Přepnout do češtiny</a>
          <a href="#" class="en">Switch to English</a>
          <a href="#" class="en">Switch to English</a>
          <a href="#" class="en">Switch to English</a>
        </div>
      </div>
    </header>

    <!-- @include _cart -->

    <section id="content">
