    <!-- @include _header_meta -->

    <header class="for-cart">
      <a href="<!-- @path index -->" class="logo">
        <img src="<!-- @path logo.svg -->" width="125" height="25" alt="Euforia by Topgal" draggable="false" />
      </a>

      <nav>
        <ul>
          <li><a href="<!-- @path cart_step1.html -->"><span>1</span> Nákupní košík</a></li>
          <li><a href="<!-- @path cart_step2.html -->"><span>2</span> Doprava a platba</a></li>
          <li><a href="<!-- @path cart_step3.html -->"><span>3</span> Doručovací údaje</a></li>
        </ul>
      </nav>
    </header>

    <!-- @include _cart -->

    <section id="content">
