<div class="scroll-cta">
  <div class="wrapper">
    <figure>
      <img src="<!-- @path scroll-cta-arrow.svg -->" draggable="none">
      <img src="<!-- @path scroll-cta-arrow.svg -->" draggable="none">
    </figure>
    <span>Pro více informací<br/>scrollujte dolů</span>
  </div>
</div>